<section class="w3l-stats">
    <div class="main-w3 "  style=" background-image:url(@ViewBag.imageUrl2)">
        <div class="container" >
            <div class="right-side">
                <h3 class="title-big">@ViewBag.title2</h3>
                <p class="mt-4 para">
                    @ViewBag.description2
                </p>
            </div>
        </div>
    </div>
</section>
