@model Casgem_CodeFirstProject.DAL.Entities.AboutMe
<section class="w3l-content-with-photo-4" id="about">
    <div class="content-with-photo4-block editContent">
        <div class="container">

            <div class="my-bio">
                <img src="@ViewBag.ImageUrl" alt="product" class="img-responsive about-me">
                <h3 class="mt-lg-4 mt-3">@ViewBag.Title</h3>
                <p class="para mb-3">@ViewBag.Description</p>
            </div>

        </div>
    </div>
</section>
