
<section class="w3l-content-with-photo-4" id="about">
    <div class="content-with-photo4-block editContent">
        <div class="container">

            <div class="my-bio">
                <img src="~/Templates/go-trip-starter/assets/images/1.jpg" alt="product" class="img-responsive about-me">
                <h3 class="mt-lg-4 mt-3">
                    Gondol Gezisi, Venediğin vazgeçilmez bir parçası haline gelmiştir.
                </h3>
                Gondol gezisi, sıkça turistlerin tercih ettiği ancak çoğunlukla Venedik'e özgü bir turistik cazibeden ibaret olan bir aktivitedir..
                <p class="para mb-3"> </p>
                <p class="para mb-lg-3"></p>
            </div>

        </div>
    </div>
    </div>
</section>
<section class="w3l-stats">
    <div class="main-w3 ">
        <div class="container">
            <div class="right-side">

                <h3 class="title-big">Aziz Mark Çan Kulesi (Le Campane Di San Marco).</h3>
                <p class="mt-4 para">
                    The Campanile of San Marco ( Aziz Mark Çan Kulesi), 98.6 metre yüksekliktedir. Zirvesinde ise altın bir melek duruyor ve kanatları rüzgar hangi yönden esiyorsa o tarafa dönüyor. Çan kulesi 14 Temmuz 1902’de kendi kendine çökmüş. Neyse ki hiç bir zarara ve kayba neden olmamış. 10 yıldan kısa bir süre sonra yeniden inşa edilmiş ve St. Mark’ın ( Venedik’in koruyucu azizi) anma günü olan 25 Nisan 1912’de açılmış.
                </p>
                <div class="col-lg-6 ">
                </div>
            </div>
        </div>
    </div>
</section>
<section class="w3l-recent-work">
    <div class="jst-two-col">
        <div class="container">
            <div class="row">
                <div class="my-bio cwp4-text col-lg-6">
                    <h3>Venedik Evleri</h3>
                    <p class="para mt-3 mb-lg-4 ">Venedik’de evler ahşap kalaslar üzerine inşa edilmiştir, bunu bir çoğumuz biliyoruz. Ahşap suyun içerisinde çürümek yerine daha da sertleşir ve sağlamlaşırmış. Ayrıca denizin dibindeki kumu da geçerek iyice balçığa ve derinlere saplanması zemini daha da sağlamlaştırmış. Ayrıca eskiden Venedik evleri betondan ve tuğladan değilmiş. Orjinal sakinleri, günlerini teknelerinde bir araziden diğerine geçerek geçirirlermiş. Pellestrina ve Chioggia’dan geçen kanaldan geçerken göreceklerinize benzeyen ahşap evlerde yaşayan balıkçılarmış.</p>
                    <a href="about.html" class="action-button btn mt-4">Beni Oku <span class="fa fa-angle-double-right"></span></a>
                </div>
                <div class="col-lg-6 ">
                    <img src="~/Templates/go-trip-starter/assets/images/b4.jpg" alt="product" class="img-responsive about-me">
                </div>
            </div>
        </div>
    </div>
</section>
