
@{
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>
    <title>Sidebar 03</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Templates/sidebar-03/css/style.css">
</head>
<body>

    <div class="wrapper d-flex align-items-stretch">
        <nav id="sidebar" class="active">
            <div class="custom-menu">
                <button type="button" id="sidebarCollapse" class="btn btn-primary">
                    <i class="fa fa-bars"></i>
                    <span class="sr-only">Toggle Menu</span>
                </button>
            </div>
            <div class="p-4">
                <h1><a href="index.html" class="logo">Flash</a></h1>
                <ul class="list-unstyled components mb-5">
                    <!-- ( keşfet, iletişim), hakkımda, Resimler(anasayfa), Tur Rotaları(ücret)
    Çalışanlar, Hizmetler, Resimler, Mesajlar, -->
                    <li class="active">
                        <a href="/AdminHome/Index"><span class="fa fa-home mr-3"></span> Anasayfa</a>
                    </li>
                    <li>
                        <a href="/AdminAbout/Index"><span class="fa fa-user mr-3"></span> Hakkımda (Giriş)</a>
                    </li>
                    <li>
                        <a href="/AdminAboutMe/Index"><span class="fa fa-user mr-3"></span> Hakkımda</a>
                    </li>
                    <li>
                        <a href="/AdminService/Index"><span class="fa fa-briefcase mr-3"></span> Hizmetler</a>
                    </li>
                    <li>
                        <a href="/AdminGuide/Index"><span class="fa fa-sticky-note mr-3"></span> Çalışanlar</a>
                    </li>
                    <li>
                        <a href="/AdminIletisim/Index"><span class="fa fa-paper-plane mr-3"></span> İletişim</a>
                    </li>
                    <li>
                        <a href="/AdminContact/Index"><span class="fa fa-paper-plane mr-3"></span> Mesajlar</a>
                    </li>
                    <li>
                        <a href="#"><span class="fa fa-paper-plane mr-3"></span> Çıkış</a>
                    </li>
                </ul>


                <div class="footer">
                    <p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;
                        <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib.com</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                </div>

            </div>
        </nav>

        <!-- Page Content  -->
        <div id="content" class="p-4 p-md-5 pt-5">
            @RenderBody()
        </div>
    </div>

    <script src="~/Templates/sidebar-03/js/jquery.min.js"></script>
    <script src="~/Templates/sidebar-03/js/popper.js"></script>
    <script src="~/Templates/sidebar-03/js/bootstrap.min.js"></script>
    <script src="~/Templates/sidebar-03/js/main.js"></script>
</body>
</html>

