@model List<Casgem_CodeFirstProject.DAL.Entities.FooterTravelTrip>
<div class="footer-list-29 footer-4">
    <ul>
        @foreach (var item in Model)
        {
            <li><a href="#url">	@item.FooterTravelTripName</a></li>
        }

    </ul>
</div>
