<section class="w3l-clients" id="client">
    <div class="call-w3">
        <div class="container text-center">
            <div class="title-head">
                <h3>Seyehat konsunda her zaman BİZ!</h3>
                <p>Tatil vakti.Hemen kendine bir yer ayırt!</p>
                <a class="btn btn-theme2 mt-lg-5 mt-4" href="/Contact/Index">İletişime Geç</a>
            </div>

        </div>
    </div>
</section>
