@model List<Casgem_CodeFirstProject.DAL.Entities.Explore>
<section class="w3l-teams-15">
    <div class="team-single-main editContent">
        <div class="container">

            <div class="row">
                <div class="column2 col-lg-6">

                    <img src="@ViewBag.ImageUrl" alt="product" class="img-responsive ">
                </div>
                <div class="nature-row  coloum4 col-lg-6">
                    <h6 class="small-title">@ViewBag.Title</h6>
                    <h3>Size özel tatil Paketleri ve Seyahat hizmetleri. </h3>
                    <p class="para editContent text ">
                        @ViewBag.Description
                    </p>
                    <a href="/About/Index/" class="action-button btn mt-lg-5 mt-4">Daha Fazlası</a>
                </div>
            </div>
        </div>
    </div>
</section>
