@model List<Casgem_CodeFirstProject.DAL.Entities.FooterGalery>
<div class="footer-list-29 footer-3">
    <div class="properties">
        <div class="images-col">
            @foreach (var item in Model)
            {
                <a href="#"><img src="@item.ImageUrl" class="img-responsive" alt=""></a>

            }
        </div>
    </div>
</div>
