<section class="w3l-specification-6">
    <div class="specification-layout editContent">
        <div class="container-fluid">
            <div class="row text-left img-grids">
                <div class="col-lg-6 p-0">
                    <div class="images-right">
                        <div class="p-md-5 p-3">
                            <h4><a href="#url">Datça</a></h4>
                            <p>Datça merkeze 25 km. uzaklıktaki Palamutbükü'nde denize girebilir, şeffaf sularında balık avlayabilir ve yakın yerlere tekne turuna çıkabilirsiniz. Sit alanı olarak belirlenen köy, denizi ve doğayı sevenler için iyi bir tatil imkanı sunuyor.</p>

                        </div>
                    </div>
                </div>

                <div class="col-lg-6 p-0">
                    <div class="four-grids">
                        <div class="images-text">
                            <div class="ser-bg1">
                                <div class="p-md-5 p-3">
                                    <h4><a href="#url">Gyeongbokgung Palace</a></h4>
                                    <p>Saray, Joseon Hanedanı’nın kurucusu Kral Taejo tarafından 14. yüzyılın sonlarında inşa ettirilmiş. 1592’ye kadar kraliyet sarayı olarak kullanılan yapı kompleksi, Japon istilası sırasında ağır hasar görmüş ve 300 yıl boyunca atıl durumda kalmış.</p>

                                </div>
                            </div>
                        </div>
                        <div class="images-text">
                            <div class="ser-bg4">
                                <div class="p-md-5 p-3">
                                    <h4><a href="#url">Kinkaku-ji Tapınağında Gün Batımını İzleyin</a></h4>
                                    <p>Tarihi 1300’lü yıllara dayanan tapınak, aynı zamanda Kitayama kültürü mimarisi ve bahçe düzenleme sanatının kusursuz bir örneğidir.  </p>

                                </div>
                            </div>
                        </div>
                        <div class="images-text">
                            <div class="ser-bg2">
                                <div class="p-md-5 p-3">
                                    <h4><a href="#url">Potala Sarayı</a></h4>
                                    <p>Potala Sarayı, 7.yüzyılda Songsten Gampo tarafından inşa ettirilmiştir. Yapıldığı ilk günden günümüze kadar birçok eklemeyle oldukça genişletilmiş olan saray 13 katlı ve 400 pencerelidir. </p>
                                </div>
                            </div>
                        </div>
                        <div class="images-text">
                            <div class="ser-bg3">
                                <div class="p-md-5 p-3">
                                    <h4><a href="#url">Chiang Mai</a></h4>
                                    <p>Ülkenin kültür başkenti olan Chiang Mai’de, halkın yaşam tarzı, ülkenin tarihi yerleri ve doğal hayatı hakkında birçok şey öğreneceğiniz etkinlikler düzenleniyor. Kültürel açıdan zengin bir tatil planlıyorsanız iyi vakit geçireceksiniz.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

