@model Casgem_CodeFirstProject.DAL.Entities.FooterContact

<section class="w3l-footer-29-main">
    <div class="footer-29 py-5 ">
        <div class="container">
            <div class="grid-col-4 footer-top-29">
                <div class="footer-list-29 footer-1">
                    <h2 class="footer-title-29">İletişim</h2>
                    <ul>
                        <li>
                            <p>
                                <span class="fa fa-map-marker"></span>@ViewBag.Address
                            </p>
                        </li>
                        <li><a href="tel:+7-800-999-800"><span class="fa fa-phone"></span>@ViewBag.Phone</a></li>
                        <li><a href="mailto:estate-mail@support.com" class="mail"><span class="fa fa-envelope-open-o"></span>@ViewBag.Mail</a></li>
                    </ul>
                    <div class="main-social-footer-29">
                        <a href="https://github.com/zehrasbr" class="fa-github"><span class="fa fa-github"></span></a>
                        <a href="#twitter" class="twitter"><span class="fa fa-twitter"></span></a>
                        <a href="#instagram" class="instagram"><span class="fa fa-instagram"></span></a>
                        <a href="https://www.linkedin.com/in/zehraisbir/" class="linkedin"><span class="fa fa-linkedin"></span></a>
                    </div>
                </div>
                <div class="footer-list-29 footer-2">
                    <ul>
                        <h6 class="footer-title-29">Kategori</h6>
                        <li><a href="#pages">Etkinlik Seyahati</a></li>
                        <li><a href="#pages">Tatil Seyehatı</a></li>
                        <li><a href="#pages">Grup Turları</a></li>
                        <li><a href="#pages">Paket Tatil</a></li>
                        <li><a href="#pages">Gap Year</a></li>
                    </ul>
                </div>
                <div class="footer-list-29 footer-3">
                    <div class="properties">
                        <h6 class="footer-title-29">Geçmiş Galeri</h6>
                        <div class="images-col">
                            <a href="blog-single.html"><img src="~/Templates/go-trip-starter/assets/images/blog1.jpg" class="img-responsive" alt=""></a>
                            <a href="blog-single.html"><img src="~/Templates/go-trip-starter/assets/images/blog2.jpg" class="img-responsive" alt=""></a>
                            <a href="blog-single.html"><img src="~/Templates/go-trip-starter/assets/images/blog3.jpg" class="img-responsive" alt=""></a>
                            <a href="blog-single.html"><img src="~/Templates/go-trip-starter/assets/images/blog4.jpg" class="img-responsive" alt=""></a>
                            <a href="blog-single.html"><img src="~/Templates/go-trip-starter/assets/images/blog5.jpg" class="img-responsive" alt=""></a>
                            <a href="blog-single.html"><img src="~/Templates/go-trip-starter/assets/images/blog6.png" class="img-responsive" alt=""></a>
                        </div>
                    </div>
                </div>
                <div class="footer-list-29 footer-4">
                    <ul>
                        <h6 class="footer-title-29">Seyehat ve Gezi</h6>
                        <li><a href="#url">	Güney Kore</a></li>
                        <li><a href="#url">	Japonya</a></li>
                        <li><a href="#url">Çin</a></li>
                        <li><a href="#url">	Tayland</a></li>
                        <li><a href="#url">Türkiye</a></li>
                    </ul>
                </div>
            </div>
            <div class=" bottom-copies text-center">
                <p class="copy-footer-29">© 2023 Designed by Zehra İSBİR</p>
            </div>
        </div>
    </div>
</section>