@model List<Casgem_CodeFirstProject.DAL.Entities.Category>

<div class="footer-list-29 footer-2">
    <ul>
        @foreach (var item in Model)
        {
            <li><a href="#pages">@item.CategoryName</a></li>
        }

    </ul>
</div>
